html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  &.menu-open {
    overflow: hidden;
  }

  &.modal-open {
    overflow: hidden;
  }
}

main {
  margin-top: rem(110);

  @include media(md) {
    margin-top: rem(140);
  }
}

.scroll-point {
  position: absolute;
  top: rem(-100);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
}
