.container {
  // width: 100%;
  // max-width: 1640px;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include media(md) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media(mg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  // & &,
  &--no-gap {
    padding: 0;
  }

  &--full {
    max-width: 100%;
  }

  // An element that extends beyond the standard container should be placed outside
  // the standard container, but in container--outer.
  &--outer {
    max-width: 1660px;
    padding: 0;
  }

  &--flex {
    @include media(md) {
      display: flex;
    }
  }
}

.header .container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .container--flex {
  @include media(md) {
    align-items: center;
    justify-content: space-between;
  }
}

.about .container,
.advantages .container,
.reviews .container {
  position: relative;
}

.about .container--outer,
.reviews .contaner--outer {
  position: relative;
}
