.container {
  // width: 100%;
  // max-width: 1640px;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include media(md) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media(mg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  & &,
  &--no-gap {
    padding: 0;
  }

  &--full {
    max-width: 100%;
  }

  &--outer {
    max-width: 1660px;
  }

  &--flex {
    @include media(md) {
      display: flex;
    }
  }
}

.header .container--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .container--flex {
  @include media(md) {
    align-items: center;
    justify-content: space-between;
  }
}

.about .container--outer {
  background-image: url("../images/paper-diagonal.webp");
  background-repeat: no-repeat;
  background-size: 250px 310px;
  background-position: 110% -120px;

  @include media(psw) {
    background-size: 300px 380px;
    background-position: 110% -120px;
  }

  @include media(ms) {
    background-size: 500px 610px;
    background-position: 110% -120px;
  }

  @include media(md) {
    background-size: 400px 500px;
    background-position: 110% -200px;
  }

  @include media(def) {
    background-size: 700px 800px;
    background-position: 110% -500px;
  }
}
