body {
  font-family: $font-base;
  font-size: rem(36);
  color: $color-text-1;
}

h1 {
  font-family: $font-accent;
}

h2 {
  font-family: $font-accent;
  font-size: rem(64);
}

h3 {
  font-family: $font-accent;
  font-size: rem(96);
  color: $color-accent;
}

strong {
  font-weight: inherit;
  color: $color-accent;
}

.hero__text {
  font-family: $font-accent;
  font-size: rem(64);
}

.reviews__text {
  color: $color-text-2;
}

.header-menu a {
  color: $color-text-1;
}

.mobile-menu a {
  font-size: rem(24);
  color: $color-text-1;
}

.input::placeholder {
  font-family: $font-base;
  font-size: rem(36);
}

.btn--primary {
  // font-family: $font-base;
  font-size: rem(48);
  color: $color-text-light;
}
