@font-face {
  font-family: "Better Together Caps";
  src: url("../../assets/fonts/better-together-caps/better-together-caps.woff2"),
    url("../../assets/fonts/better-together-caps/better-together-caps.woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Gooseberry";
  src: url("../../assets/fonts/gooseberry/gooseberry.woff2"),
    url("../../assets/fonts/gooseberry/gooseberry.woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
