// Map of breakpoints
$breakpoints: (
  st: 320px,
  xs: 360px,
  psw: 412px,
  sm: 480px,
  ms: 640px,
  psh: 732px,
  md: 768px,
  mf: 921px,
  def: 1024px,
  hg: 1150px,
  lg: 1280px,
  xl: 1366px,
  mg: 1440px,
  note: 1536px,
  container: 1610px,
  dt: 1920px,
);

// Fonts
$font-accent: "Better Together Caps", sans-serif;
$font-base: "Gooseberry", sans-serif;

// Colors
$color-primary: #fae9c8;
$color-primary-light: #fff8ea;
$color-secondary: #2f1a0d;
$color-accent: #ef6e1c;
$color-text-1: #2f2f2f;
$color-text-2: #000000;
$color-text-light: #ffffff;
