.header {
  position: fixed;
}

.header-menu__wrapper {
  display: none;
  @include media(md) {
    display: flex;
  }
}

.header-menu > ul {
  display: flex;

  & a.is-selected {
    text-decoration: underline;
  }
}

.logo {
  width: rem(30);
  height: rem(30);
}

.logo__img {
}
