.header {
  position: fixed;
  top: 0;
  padding: rem(30) 0;
  width: 100%;
  z-index: 99;
  background-image: url("../images/paper-big.webp");
}

.header-menu__wrapper-left {
  @include media(md) {
    display: flex;
    align-items: center;
    gap: rem(30);
  }
}

.header-menu {
  display: none;

  @include media(md) {
    display: flex;
  }
}

.header-menu > ul {
  display: flex;
  gap: rem(30);

  & > li {
    transition: transform 0.3s linear;

    &:hover,
    &:focus {
      transform: scale(1.07);
    }
  }

  & a.is-selected {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: rem(10);
  }
}
