.header {
  position: fixed;
  top: 0;
  padding: rem(5) 0;
  width: 100%;
  z-index: 99;
  background-image: url("../images/paper-big.webp");
}

.header-menu__wrapper-left {
  @include media(md) {
    display: flex;
    align-items: center;
    gap: rem(30);
  }
}

.header-menu {
  display: none;

  @include media(md) {
    display: flex;
  }
}

.header-menu > ul {
  display: flex;
  gap: rem(30);

  & a.is-selected {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: rem(10);
  }
}

.logo {
  display: block;
  width: rem(60);
  height: rem(60);
  @include media(md) {
    width: rem(90);
    height: rem(90);
  }
}

.logo__img {
}
