.hero {
  background-image: url("../images/paper-big.webp");
  position: relative;
  padding: rem(30) 0 rem(150);
  z-index: 1;

  &__text-wrapper {
    position: relative;
    z-index: 3;

    @include media(md) {
      width: 50%;
      max-width: rem(500);
    }
  }

  &__text {
    width: 80%;
    margin: 0 auto;
    @include media(md) {
      width: 100%;
      margin-bottom: rem(60);
    }

    @include media(def) {
      margin-bottom: rem(90);
    }
  }

  &__img-thumb {
    position: relative;
    width: 80%;
    margin: rem(8) auto 30% auto;

    @include media(md) {
      width: 50%;
      margin: 0 0 0 rem(60);
    }

    &::before {
      content: "";
      background-image: url("../images/branch.webp");
      width: 60%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      z-index: 2;
      bottom: -25%;
      left: -15%;
    }
  }

  &__img {
    background-color: transparent;
    aspect-ratio: 1 / 1;
  }
}
