.reviews {
  background-color: $color-primary-light;
  padding: rem(100) 0 rem(146);

  border-top: rem(175) solid transparent;
  margin-top: rem(-175);
  background-clip: padding-box;

  @include media(sm) {
    padding-top: rem(120);
  }

  &__img {
    position: absolute;
    right: 0;
    top: -190px;
    width: 80%;
    aspect-ratio: 0.9/ 1;
    background-image: url("../images/paper-diagonal.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100px 0;
    z-index: 1;

    @include media(md) {
      width: 750px;
      top: -420px;
      z-index: 0;
    }
  }

  &__title-wrapper {
    background-image: url("../images/paper-narrow-1.webp");
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: rem(-130);
    left: 50%;
    transform: translate(-50%, rem(-30));
    width: rem(300);
    aspect-ratio: 2.5 / 1;
    z-index: 2;

    @include media(xs) {
      width: rem(350);
    }

    @include media(sm) {
      top: rem(-180);
      width: rem(500);
    }

    @include media(md) {
      top: rem(-215);
      left: auto;
      transform: none;
    }

    @include media(def) {
      top: rem(-240);
      width: rem(660);
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  overflow: hidden;

  @include media(md) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @include media(container-wide) {
    overflow: visible;
  }

  &__item {
    aspect-ratio: 1 / 0.8;
    position: relative;
    @include media(md) {
      width: 50%;
    }

    &:nth-child(2)::before,
    & > .reviews-list__item-inner::before {
      content: "";
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      display: block;
      position: absolute;
    }

    &:nth-child(1) {
      & > .reviews-list__item-inner {
        background-image: url("../images/paper-medium-1.webp");
        @include media(md) {
          background-size: 100% 95%; // 11111111
        }
        @include media(lg-2) {
          background-size: contain; // 11111111
        }

        &::before {
          background-image: url("../images/plant-1.svg"),
            url("../images/plant-3.svg");
          background-size: 75% 75%, 30% 30%;
          background-position: 20% 100%, 100% 100%;
          width: 35%;
          top: -12%;
          right: 5%;

          @include media(md) {
            background-image: url("../images/plant-5.svg");
            background-position: center;
            width: 83%;
            top: -16%;
            right: -46%;
          }

          @include media(container-outer) {
            top: -20%;
            left: -43%;
          }
        }
      }

      & .reviews-list__item-review {
        @include media(md) {
          top: 30%;
          transform: translate(-50%, -30%);
        }
      }
    }

    &:nth-child(2) {
      transform: translateY(15%);
      position: relative;
      z-index: 4;
      @include media(md) {
        transform: translate(-10%, 45%);
      }

      &::before {
        background-image: url("../images/plant-5.svg");
        top: -45%;
        right: -10%;
        width: 70%;
        background-size: 100% 100%;
        background-position: center;
        transform: rotate(-20deg);

        @include media(md) {
          display: none;
        }
      }

      & > .reviews-list__item-inner {
        background-image: url("../images/paper-medium-2.webp");
        @include media(md) {
          background-size: cover; // 1111111111
        }
        @include media(lg-2) {
          background-size: contain; // 11111111
        }

        &::before {
          display: none;

          @include media(md) {
            display: block;
            background-image: url("../images/plant-1.svg"),
              url("../images/plant-3.svg");
            background-size: 75% 75%, 30% 30%;
            background-position: 20% 100%, 100% 100%;
            width: 35%;
            top: -26%;
            right: 3%;
          }
        }

        & .reviews-list__item-review {
          @include media(md) {
            top: 10%;
            transform: translate(-50%, -10%);
          }
        }
      }
    }

    &:nth-child(3) {
      transform: translate(10%, -5%);
      aspect-ratio: 1 / 1;
      @include media(md) {
        width: 40%;
      }

      & > .reviews-list__item-inner {
        background-image: url("../images/paper-medium-3.webp");
        background-position: center;

        &::before {
          background-image: url("../images/plant-2.svg");
          position: absolute;
          top: 20%;
          left: -10%;
          width: 30%;
          background-size: 100% 100%;

          @include media(md) {
            top: auto;
            left: auto;
            bottom: -15%;
            right: 0;
            width: 40%;
          }
        }
      }
    }

    &:nth-child(4) {
      transform: translateY(-25%);
      position: relative;
      z-index: 4;
      @include media(md) {
        transform: translate(10%, 45%);
      }
      @include media(lg-2) {
        transform: translate(10%, 30%); // 11111111
      }

      & > .reviews-list__item-inner {
        background-image: url("../images/paper-medium-1.webp");
        @media (max-width: 767px) {
          background-position: 110% 100%;
        }

        &::before {
          background-image: url("../images/plant-3.svg"),
            url("../images/plant-4.svg");
          background-size: 30% 30%, 80% 80%;
          background-position: 20% 80%, 190% 100%;
          width: 25%;
          top: 5%;
          right: 10%;
          @include media(md) {
            top: auto;
            bottom: 12%;
            right: 0%;
            width: 30%;
          }
        }
      }

      & .reviews-list__item-review {
        @include media(md) {
          top: 30%;
          transform: translate(-50%, -30%);
        }
      }
    }

    &:nth-child(5) {
      aspect-ratio: 1 / 1;
      transform: translate(7%, -10%);
      @include media(md) {
        transform: translate(10%, -3%);
      }

      & > .reviews-list__item-inner {
        background-image: url("../images/paper-medium-4.webp");
        background-position: center;

        &::before {
          background-image: url("../images/plant-1.svg");
          background-size: 90% 90%;
          width: 35%;
          bottom: -15%;
          right: 10%;
          @include media(md) {
            bottom: -1%;
            right: -5%;
          }
        }
      }
    }
  }

  &__item-inner {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;

    @include media(md) {
      background-size: contain;
    }
  }

  &__item-review {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74%;
  }

  &__item-title {
  }

  &__item-name {
  }

  &__item-score {
  }

  &__item-text {
  }
}
