.btn {
  &--main {
    &:hover,
    &:focus {
    }
  }

  &--open {
    background-color: aqua;
    @include media(md) {
      display: none;
    }
    &__icon {
      width: rem(30);
      height: rem(30);
    }
  }

  &--close {
    background-color: aqua;
    @include media(md) {
      display: none;
    }
    &__icon {
      width: rem(30);
      height: rem(30);
    }
  }
}
