.link-wrapper {
  .header & {
    display: none;
    @include media(md) {
      display: flex;
      gap: rem(30);
    }
  }
}
.link {
}
.link--phone {
}
.link__icon {
  width: rem(50);
  height: rem(50);
}
.link--instagram {
}
