.link-wrapper {
  .header & {
    display: none;
    @include media(md) {
      display: flex;
    }
  }
}
.link {
}
.link--phone {
}
.link__icon {
  width: rem(20);
  height: rem(20);
}
.link--instagram {
}
