.logo {
  display: block;
  width: rem(60);
  aspect-ratio: 1 / 1;

  @include media(psw) {
    width: rem(85);
  }

  @include media(ms) {
    width: rem(95);
  }

  @include media(md) {
    width: rem(90);
    height: rem(90);
  }
}
