.menu-container {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  background-color: $color-primary-light;
  padding: rem(45) rem(20);
  transition: transform 400ms ease-in;
  overflow-y: auto;

  &.is-open {
    transform: translateX(50vw);
  }
}

.mobile-menu {
  margin-top: rem(40);

  & > .menu {
    padding-left: rem(10);

    @include media(psw) {
      padding-left: rem(15);
    }

    @include media(ms) {
      padding-left: rem(20);
    }

    // Menu-items
    & > li {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }

      // Links
      & > a {
        display: inline-block;
        transition: transform 0.3s linear;

        &:hover,
        &:focus {
          transform: scale(1.07);
        }

        &.is-selected {
          text-decoration: underline;
          text-decoration-style: dashed;
          text-underline-offset: rem(10);
        }
      }
    }
  }
}
