.backdrop {
  position: fixed;
  z-index: 299;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-secondary-transparent;
  transition-property: opacity, visibility;
  transition-duration: 400ms;
  transition-timing-function: ease-in;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &.is-hidden .modal {
    transform: scaleY(0);

    @media screen and (min-width: 768px) {
      transform: translate(-50%, -50%) scaleY(0);
    }
  }
}

.modal {
  overflow-y: auto;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: ease-in;
  background-color: $color-primary-light;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 91%;
  height: rem(300);
  padding: rem(36) rem(20);

  @include media(psw) {
    height: rem(460);
  }

  @include media(ms) {
    height: rem(600);
  }

  @include media(md) {
    width: rem(520);
    height: rem(450);
    padding: rem(45);
  }
}

.form {
  &__description {
    margin-bottom: rem(41);

    @include media(md) {
      margin-bottom: rem(25);
    }
  }

  &__input {
    background-color: $color-primary;
    border-radius: 10px;
    border: none;
    width: calc(100% - 40px);
    height: rem(47);
    padding: 0 rem(20);

    @include media(psw) {
      padding: rem(15) rem(20);
    }

    @include media(ms) {
      padding: rem(30) rem(20);
    }

    @include media(md) {
      height: 75px;
      padding: 0 rem(20);
    }

    &::placeholder {
      color: $color-text-1-transparent;
    }

    &--name {
      margin-bottom: rem(17);

      @include media(md) {
        margin-bottom: rem(25);
      }
    }

    &--phone {
      margin-bottom: rem(35);

      @include media(md) {
        margin-bottom: rem(50);
      }
    }
  }
}
